@use "../util" as *;

.footer {
  background-color: var(--nwcGreen);
  display: flex;
  padding-top: rem(45);

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &--menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__logo {
    img {
      width: rem(175);
      height: rem(85);
    }
  }
}
