@use "../util" as *;

.pages {
  &__heading {
    font-family: var(--font-display);
    font-weight: 300;
    font-size: rem(48);
    color: var(--nwcGreen);
  }

  &__subhead {
    font-family: var(--font-display);
    font-weight: 300;
    font-size: rem(40);
    color: var(--nwcGreen);
  }
}

.content {
  &__logo {
    margin-bottom: rem(60);

    @include breakpoint-down(small) {
      margin-bottom: rem(40);
    }

    &--victoriaInn {
      @include breakpoint-down(small) {
        width: 100%;
      }
    }
  }

  &__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &--half-width {
      display: flex;
      flex-direction: row;
      gap: rem(10);
      width: 49%;
      margin-bottom: rem(10);

      @include breakpoint-down(small) {
        flex-direction: column;
        width: 100%;
      }
    }

    &--full-width {
      margin-top: rem(10);
      margin-bottom: rem(40);
    }
  }
}

.victoriaInfo {
  &__columns {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-top: rem(40);
    margin-bottom: rem(60);
    padding-bottom: rem(20);
    border-bottom: rem(1) solid var(--nwcGreen);

    &--column {
      width: 50%;
      padding-left: rem(40);
    }
  }

  &__head {
    font-size: rem(20);
    color: var(--nwcGreen);
  }
}

.hours {
  padding-left: rem(10);
  color: var(--grey);
  &__head {
    font-weight: 700;
    color: var(--nwcGreen);
    margin-top: 0;
  }

  &__daily {
    font-weight: 700;
    color: var(--grey);
  }
}

.menus li {
  list-style: none;
  margin-bottom: rem(10);
}

ul li a {
  color: var(--grey);
  border-bottom: rem(1) solid var(--grey);
}

ul li a:hover {
  border-bottom: none;
}
